<!DOCTYPE html>

<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Lobster&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="img/Untitled design.png" />
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upper Left Detailing</title>
</head>

<body>
    <div class="parallax">
        {{>header}}
        <div class="text">
            <h1>Upper Left Detailing</h1>
            <h2>Cars, boats and in between</h2>
            <h3>True value above the rest</h3>
            <h4>Auburn, WA</h4>
            <h3>The west side of things</h3>
        </div>
        <p><i class="arrow down"></i></p>
    </div>

    <div class="discription">
        <div class="container personal">
            <div class="row">
                <div class="col-sm-4">
                    <img class="photo" src="img/Image from iOS (5).jpg">
                </div>
                <div class="person col-sm-8">
                    <h3>Upper Left Detailing</h3>
                    <h4>Established in 2015 by Brian Alonzo</h4>
                    <h4>A hustle from out the trunk, paired with a tough work ethic that'll continue reaching new heights.</h4>
                    <h4>We offer customizable, premium services that exceed customer desires while sustaining the natural environment.</h4>
                    <h4>Our vision is to be your first choice in the maintenance of your vehicles appearance. Ensuring a one of a kind experience that matches if not exceeds that new car feeling.</h4>
                </div>
            </div>
        </div>
        <div class="container pictures">
            <h2><a href="/gallery">Check out some of my work:</a></h2>
            <div class="row indexpic">
                <div class="col-sm"><img src="img/Image from iOS (16).jpg"></div>
                <div class="col-sm"><img src="img/Image from iOS (12).jpg"></div>
                <div class="col-sm"><img src="img/Image from iOS (6).jpg"></div>
            </div>
        </div>
    </div>
</body>