<!DOCTYPE html>

<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Lobster&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="img/Untitled design.png" />
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upper Left Detailing</title>
</head>

<body>
    {{>header}}
    <div class="services">
        <h2>Interior Detailing</h2>
        <h4>Full Vacuum including the trunk area. With the following cleaned: All plastic/dash area, foot pedals/seat tracks, windows & mirrors as well as all door and trunk jambs. All nooks & crannies cleaned.</h4>
        <h4>*Carpet & Seat scrub is additional</h4>
        <ul>
            <li>Coup/2 Seater: $110.00 or *$160.00 with a carpet/seat scrub</li>
            <li>Sedan/Regular Truck: $140.00 or *$200.00 with a carpet/seat scrub</li>
            <li>Large Truck/SUV: $180.00 or *$260.00 with a carpet/seat scrub</li>
        </ul>
        <br />
        <h2>Exterior Detailing</h2>
        <h4>Premium Washes. Hand washed, rim cleaning, windows/mirrors & wheelwells: $65.00</h4>
        <h4>Waxing a vehicle is an additional cost.</h4>
        <h4>Wash, clay bar & waxed total cost below (ask about our clay bar only option):</h4>
        <ul>
            <li>Coup/2 seater: $150.00</li>
            <li>4DR sedan: $180.00</li>
            <li>Small SUV/Reg Truck: $210.00</li>
            <li>Large Truck/ Large SUV: $260.00 </li>
        </ul>
        <br />
        <h2>Add ons:</h2>
        <ul>
            <li>Blemish Treatment: $10 - $50</li>
            <li>Scratch Treatment: $10 - $50</li>
            <li>Headlight Restoration: $20 - $40</li>
            <li>Rim Polish/Treatment: $40.00</li>
            <li>Engine Bay Wash: $40.00</li>
            <li>Mold Treatment: $10 - $40</li>
            <li>Ceiling Panel Cleaning: $40</li>
            <li>Polishing a Vehicle: call for quote</li>
            <li>Compound: call for quote</li>
            <li>Ceramic Coating: call for quote</li>
            <li>Window Tinting: coming soon</li>
            <li>Sound Proofing: coming soon</li>
        </ul>
        <div class="flexible"><h1><a href="/contact">Call for flexible pricing!</a></h1></div>
    </div>

</body>