<!DOCTYPE html>

<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da+2|Lobster&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="img/Untitled design.png" />
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upper Left Detailing</title>
</head>

<body>
    {{>header}}
    <div class="services">
        <h2>Interior Detailing</h2>
        <h4>Full Vacuum including trunk, all plastic/dash wiped clean , all nooks and crannies cleaned, windows/mirrors
            & door jams. Carpet & Seat scrub is extra.</h4>
        <ul>
            <li>Coup/ 2 Seater: $100.00 or $160.00 with a carpet/seat scrub</li>
            <li>Sedan/Regular Truck: $120.00 or $180.00 with a carpet/seat scrub</li>
            <li>Large Truck/SUV: $160.00 or $240.00 with a carpet/seat scrub</li>
        </ul>
        <br />
        <h2>Exterior Detailing</h2>
        <h4>Premium Washes. Hand Washed, Rim Scrub/Windows/Mirrors & Wheelwells: Any vehicle - $65.00</h4>
        <h4>If you'd like a wax it's extra, price with wax:</h4>
        <ul>
            <li>Coup 2 seater: $150.00</li>
            <li>4DR sedan: $180.00</li>
            <li>Small SUV/Reg Truck: $210.00</li>
            <li>Large Truck/ Large SUV: $260.00 </li>
        </ul>
        <br />
        <h2>Add ons:</h2>
        <ul>
            <li>Blemish Treatment: $10 - $50</li>
            <li>Scratch Treatment: $10 - $50</li>
            <li>Headlight Restoration: $20 - $40</li>
            <li>Rim Polish/Treatment: $40.00</li>
            <li>Engine Bay Wash: $40.00</li>
            <li>Mold Treatment: $10 - $40</li>
            <li>Ceiling Panel Cleaning: $40</li>
            <li>Polishing a Vehicle: call for quote</li>
            <li>Compound: call for quote</li>
            <li>Ceramic Coating: call for quote</li>
            <li>Window Tinting: coming soon</li>
            <li>Sound Proofing: coming soon</li>
        </ul>
        <div class="flexible"><h1><a href="/contact">Call for flexible pricing!</a></h1></div>
    </div>

</body>