body,
html {
  height: 100%;
  background-color: rgb(237, 240, 240);
  font-family: "Baloo Da 2", cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  width: 100px;
  height: 60px;
}

.nav-link,
.navbar-brand {
  font-size: 25px;
}

.parallax {
  background-image: url("img/img1.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  color: red;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-family: "Lobster", cursive !important;
}

.text h1 {
  font-size: 3.5rem;
  margin-bottom: 25px;
}
.text h2 {
  font-size: 2.5rem;
}

.text h3 {
  padding-left: 150px;
}

.text h4 {
  padding-left: 280px;
  font-size: 1.55rem;
}

i {
  border: solid rgb(217, 219, 219);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 13px;
  position: absolute;
  bottom: 20px;
  left: 50%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.discription {
  height: 1000px;
  font-size: 36px;
}

.personal {
  margin-top: 25px;
}

.person {
  text-align: center;
  padding: 45px;
  padding-top: 2%;
}

.photo {
  width: 100%;
}

.pictures {
  margin-top: 65px;
  text-align: center;
}

.indexpic {
  margin-top: 45px;
}

.col-sm img {
  width: 100%;
}

/* Contact */
.contact {
  margin: auto;
  width: 70%;
  padding: 10% 0;
  text-align: center;
}
.fa {
  margin-top: 20px;
  margin-right: 10px;
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #ca4571;
  color: white;
}

/* Services */

.services {
  margin: 70px;
  font-size: 1.2rem;
}

.flexible {
  text-align: center;
}

/* Gallery */
.pics {
  margin-top: 100px;
}
.row {
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  body, html {
    height: 100%;
  }
  
  .parallax {
    background: url("img/img1.jpg");
    height: 100%;
    width: 100%;
    background-attachment:scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .text {
    color: red;
    left: 0;
    line-height: 0px;
    margin-top:0px;
    position: relative;
    text-align: center;
    top: 15%;
    width: 100%;
    font-family: "Lobster", cursive !important;
  }
  
  .text h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  .text h2 {
    font-size: 1.55rem;
  }
  
  .text h3 {
    padding-left: 0;
  }
  
  .text h4 {
    padding-left: 0;
    font-size: 1.55rem;
  }

  .person {
    text-align: center;
    padding: 22px 0 0 0;
    margin:0;
    width:100%;
  }

  .services {
    margin: 20px;
    margin-top: 30px;
    font-size: 1.2rem;
  }

  .contact {
    margin: auto;
    width: 100%;
    padding: 10% 3px;
    text-align: center;
  }
}